html {
  position: relative;
  min-height: 100%;
}

#navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: bold;
  color: black;
}

body {
  margin-bottom: 100px;
}

.footer {    
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 60px;
  background-color: #313131;
}

h4 {
    color: rgb(46, 136, 98);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

a:hover {
    background-color: rgb(46, 136, 98);
  }

#noHover {
  background-color: transparent;
}

#noHover1 {
  background-color: transparent;
}

#noHover2 {
  background-color: transparent;
}

#noHover3 {
  background-color: transparent;
}

#noHover4 {
  background-color: transparent;
}


